name: Deploy to Another Repository

on:
  # 手动触发部署
  # Manually trigger deployment
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          # 拉取所有提交记录，以支持完整的 Git 操作
          # Fetch all commit history for full Git operations
          fetch-depth: 0

      # 部署到另一个仓库
      # Deploy to another repository
      - name: Push to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          source-directory: './'
          destination-github-username: 'Luo202044'  # 目标仓库用户名
          destination-repository-name: 'ClassIn'  # 目标仓库名
          target-branch: 'gh-pages'
          user-name: 'github-actions[bot]'
          user-email: 'github-actions[bot]@users.noreply.github.com'
          commit-message: 'Deploy from ${{ github.repository }} ${{ github.sha }}'
